<!-- Upload File -->
<div class="container" id="play">
    <div class="jumbotron">
        <h3 class="glyphicon glyphicon-play-circle"> Player</h3>
        <h3> <span class="alert alert-info pull-right" style="font-size:15px">{{PlayerMsg.status}}</span></h3>

        <hr>
            <span ng-hide="selectedFilePath" class="alert alert-warning" style="font-size:20px">No file Selected</span>

        <div ng-show="selectedFilePath">
            <div ng-hide="filePlayingActive">
                <span class="alert alert-success" style="font-size:20px">Selected File: {{selectedFilePath}}
                     <a href class="btn btn-danger btn-xs" ng-click="removeSelectedFilePath()"><span class="glyphicon glyphicon-remove"> Entfernen</a>
                     <a href class="btn btn-success btn-xs" ng-click="playFile()"><span class="glyphicon glyphicon-play"></span> &nbsp;&nbsp;&nbsp;Play =)</a>
                </span>
            </div>
            <div ng-show="filePlayingActive">
                <span class="alert alert-success" style="font-size:20px">Selected File: {{selectedFilePath}}
                     <a href class="btn btn-danger btn-xs" ng-click="removeSelectedFilePath()"><span class="glyphicon glyphicon-ban-circle"> Stop Playing</a>
                </span>
            </div>
        </div>
        <br>
    </div>

    <div class="jumbotron">
        <h3 class="glyphicon glyphicon-cog"> Settings</h3>
        <br><hr>

        <span ng-show="SettingsSaved">
            <div ng-show="SettingsValid">
                <span class="alert alert-success" style="font-size:20px">Einstellungen gespeichert</span>
            </div>

            <div ng-hide="SettingsValid">
                <span class="alert alert-warning" style="font-size:20px">Einstellungen fehlerhaft!</span>
            </div>
            <br>
        </span>

        <p>
            <a href class="btn btn-info btn-xs pull-right" ng-click="getSettings()"><span class="glyphicon glyphicon-refresh"></span> Neu laden</a>

            <div ng-show="RepeatPlaying">
                     <a href class="btn btn-success btn-sm" ng-click="togglePlaying()"><span class="glyphicon glyphicon-retweet"> Wiederholen an</a>
            </div>
            <div ng-hide="RepeatPlaying">
                <a href class="btn btn-danger btn-sm" ng-click="togglePlaying()"><span class="glyphicon glyphicon-retweet"> Wiederholen aus</a>
        </div>
        </p>

        <br>

        <div class="input-group">
            <span class="input-group-addon">Destination-IP</span>
            <input type="text" class="form-control" placeholder="Destination-IP" ng-model="destinationIP">
        </div>

        <br>
        <div class="input-group">
            <span class="input-group-addon">Destination-Port</span>
            <input type="text" class="form-control" placeholder="Destination-Port" ng-model="destinationPort">
        </div>

        <br><hr>
        <span class="pull-right">
            <a href class="btn btn-success btn-sm" ng-click="saveSettings()"><span class="glyphicon glyphicon-floppy-disk"></span> Speichern</a>
        </span>
    </div>
</div>